trials-for-dev/Pdf-test/__pycache__
trials-for-dev/djangotutorial/venv

trials-for-dev/Pdf-test/static/styles.css
trials-for-dev/Pdf-test/app.py
trials-for-dev/Pdf-test/templates/index.html
trials-for-dev/Pdf-test/uploads/AICTE.pdf