venv

resume_enhancer

model/Classf_Resume/job_role_classifier.pth
model/Return_keywords/bert_keywords.pth

.DS_Store

resume_processing_project/.DS_Store
model/.DS_Store

model/llm_insights/.env
model/Text_extracn/.env
model/Results/job_role_classifier.pth
model/Results/label_encoder.pkl