.dashboard {
  min-height: 100vh;
  background-color: #f5f5dc;
  padding: 60px;
}

.container {
  max-width: 1600px;
  margin-top: 64px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
